<!-- src/app/admin/card-registration-chart.component.html -->
<div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white">
  <div class="rounded-t mb-0 px-4 py-3 bg-transparent flex items-center">
    <h6 class="uppercase text-blueGray-400 text-xs font-semibold">Registrations</h6>
    <h2 class="text-blueGray-700 text-xl font-semibold ml-auto">
      Last {{ daysBack }} Days
    </h2>
  </div>
  <div class="p-4 flex-auto">
    <div class="relative" style="height: 350px">
      <canvas id="registration-chart"></canvas>
    </div>
  </div>
</div>
