<nav class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg bg-blue-600">
  <div class="container px-4 mx-auto flex flex-wrap items-center justify-between bg-blue-600">
    <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
      <a [routerLink]="['/']" class="text-gray-500 text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase flex items-center">
        <img src="assets/img/logpp.jpg" alt="MindFull Logo" class="h-8 w-8 mr-2">
        <h6>MindFull</h6>
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()"
      >
        <i class="text-gray-500 fas fa-bars"></i>
      </button>
    </div>
    <div
      class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none"
      [ngClass]="{ hidden: !navbarOpen, 'block rounded shadow-lg': navbarOpen }"
    >
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <!-- Calendar -->
        <li class="flex items-center">
          <a 
            class="lg:text-white hover:text-blue-200 text-gray-500 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" 
            [routerLink]="['/patientspace/calendar', 6]" 
            routerLinkActive="active"
          >
            <i class="lg:text-blue-200 text-gray-500 fas fa-calendar-alt text-lg leading-lg mr-2"></i>
            <span class="text-gray-500">My Appointments</span>
          </a>
        </li>
        <!-- Video Call -->
        <li class="flex items-center">
          <a 
            class="lg:text-white hover:text-blue-200 text-gray-500 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold" 
            [routerLink]="['/patientspace/join-video-call']" 
            routerLinkActive="active"
          >
            <i class="lg:text-blue-200 text-gray-500 fas fa-video text-lg leading-lg mr-2"></i>
            <span class="text-gray-500">Call</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>