<div class="flex flex-wrap">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
    <app-card-line-chart-admin></app-card-line-chart-admin>
  </div>
  <div class="w-full xl:w-4/12 px-4">
    <app-card-bar-chart-admin></app-card-bar-chart-admin>
  </div>
</div>
<div class="flex flex-wrap mt-4">
  <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
    <app-card-page-visits-admin></app-card-page-visits-admin>
  </div>
  <div class="w-full xl:w-4/12 px-4">
    <app-card-social-traffic-admin></app-card-social-traffic-admin>
  </div>
</div>
