<div class="flex flex-wrap">
  <!-- Line chart component (8/12 on large screens, full width on smaller screens) -->
  <div class="w-full xl:w-8/13 mb-12 xl:mb-0 px-4">
    <app-card-line-chart-admin></app-card-line-chart-admin>
  </div>

  <!-- Bar chart component (4/12 on large screens, full width on smaller screens) -->
  <div class="w-full xl:w-4/13 px-4">
    <app-card-bar-chart-admin></app-card-bar-chart-admin>
  </div>
</div>

<!--div class="flex flex-wrap">
  <div-- class="w-full mb-12 xl:mb-0 px-4">
    <app-card-page-visits-admin></app-card-page-visits-admin>
  </div-->
