/* Avatar container */
.avatar-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 1rem;
  margin-top: -2rem; /* Move entire container up */
}

.avatar-image-container {
  position: relative;
  overflow: visible; /* Ensure dot isn't clipped */
}

.avatar-image {
  border-radius: 9999px;
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  border: none;
  position: relative;
  top: -1rem; /* Move image up */
}

.status-dot {
  position: absolute;
  top: 71%;
  right: 0rem; /* Position outside image */
  transform: translateY(-50%); /* Center vertically */
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 9999px;
  border: 2px solid #fff;
  z-index: 10;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.status-dot.active {
  background-color: #10b981;
}
