<!-- Sidebar -->
<nav class="md:fixed md:left-0 md:top-0 md:bottom-0 md:w-64 bg-gray-800 text-gray-200 shadow-xl z-10 py-4 px-6 md:overflow-y-auto flex flex-wrap items-center justify-between">

  <div class="w-full flex flex-col md:min-h-full">
    
    <!-- Toggler (Mobile) -->
    <button
      class="md:hidden text-black opacity-50 px-3 py-1 text-xl bg-transparent rounded border border-transparent"
      (click)="toggleCollapseShow('bg-gray-800 m-2 py-3 px-6')"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Brand -->
    <div class="flex items-center mb-6">
      <img src="assets/img/logpp.jpg" alt="MindFull Logo" class="h-20 w-20 mr-2" />
      <span class="text-sm uppercase font-bold">MindFull</span>
    </div>

    <!-- Mobile Only User Actions -->
    <ul class="md:hidden flex flex-wrap list-none">
      <li class="relative inline-block">
        <app-notification-dropdown></app-notification-dropdown>
      </li>
      <li class="relative inline-block">
        <app-user-dropdown></app-user-dropdown>
      </li>
    </ul>

    <!-- Collapsible Menu -->
    <div
      class="md:flex md:flex-col mt-4 flex-1"
      [ngClass]="collapseShow"
    >
      <!-- Search (Mobile) -->
      <form class="mt-6 mb-4 md:hidden">
        <input
          type="text"
          placeholder="Search"
          class="w-full h-12 px-3 py-2 text-base text-gray-200 bg-gray-700 border border-gray-500 rounded placeholder-gray-300"
        />
      </form>

      <!-- Navigation -->
      <hr class="my-4" />
      <h6 class="text-xs uppercase font-bold text-gray-400 pb-4">Dashboard</h6>

      <ul class="flex flex-col space-y-1">
        <li>
          <a
            [routerLink]="['/admin/dashboard']"
            routerLinkActive
            #report="routerLinkActive"
            [ngClass]="report.isActive ? 'text-red-600 hover:text-red-700' : 'text-gray-300 hover:text-gray-500'"
            class="text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-tv text-sm mr-2" [ngClass]="report.isActive ? 'opacity-75' : 'text-gray-500'"></i>
            Reports & Analytics
          </a>
        </li>

        <li>
          <a
            [routerLink]="['/admin/tables']"
            routerLinkActive
            #users="routerLinkActive"
            [ngClass]="users.isActive ? 'text-red-600 hover:text-red-700' : 'text-gray-300 hover:text-gray-500'"
            class="text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-tools text-sm mr-2" [ngClass]="users.isActive ? 'opacity-75' : 'text-gray-500'"></i>
            User Management
          </a>
        </li>

        <li>
          <a
            [routerLink]="['/admin/settings']"
            routerLinkActive
            #appointments="routerLinkActive"
            [ngClass]="appointments.isActive ? 'text-red-600 hover:text-red-700' : 'text-gray-300 hover:text-gray-500'"
            class="text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-table text-sm mr-2" [ngClass]="appointments.isActive ? 'opacity-75' : 'text-gray-500'"></i>
            Appointments
          </a>
        </li>

        <li>
          <a
            [routerLink]="['/backoffice/coachingprogram/programs']"
            routerLinkActive
            #coaching="routerLinkActive"
            [ngClass]="coaching.isActive ? 'text-red-600 hover:text-red-700' : 'text-gray-300 hover:text-gray-500'"
            class="text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-table text-sm mr-2" [ngClass]="coaching.isActive ? 'opacity-75' : 'text-gray-500'"></i>
            Coaching
          </a>
        </li>

        <li>
          <a
            [routerLink]="['/backoffice/content-program']"
            routerLinkActive
            #program="routerLinkActive"
            [ngClass]="program.isActive ? 'text-red-600 hover:text-red-700' : 'text-gray-300 hover:text-gray-500'"
            class="text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-table text-sm mr-2" [ngClass]="program.isActive ? 'opacity-75' : 'text-gray-500'"></i>
            Programmes de patient
          </a>
        </li>

        <li>
          <a
            [routerLink]="['/admin/maps']"
            routerLinkActive
            #forum="routerLinkActive"
            [ngClass]="forum.isActive ? 'text-red-600 hover:text-red-700' : 'text-gray-300 hover:text-gray-500'"
            class="text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-map-marked text-sm mr-2" [ngClass]="forum.isActive ? 'opacity-75' : 'text-gray-500'"></i>
            Forum Moderation
          </a>
        </li>
      </ul>

      <hr class="my-4" />
      <h6 class="text-xs uppercase font-bold text-gray-400 pb-4">Tools</h6>

      <ul class="flex flex-col space-y-1">
        <li>
          <a
            [routerLink]="['/auth/login']"
            class="text-gray-300 hover:text-gray-500 text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-fingerprint text-sm mr-2 text-gray-500"></i>
            Logout
          </a>
        </li>

        <li>
          <a
            [routerLink]="['/admin/settings']"
            routerLinkActive
            #settings="routerLinkActive"
            [ngClass]="settings.isActive ? 'text-red-600 hover:text-red-700' : 'text-gray-300 hover:text-gray-500'"
            class="text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-clipboard-list text-sm mr-2" [ngClass]="settings.isActive ? 'opacity-75' : 'text-gray-500'"></i>
            Settings
          </a>
        </li>
      </ul>

      <hr class="my-4" />
      <h6 class="text-xs uppercase font-bold text-gray-400 pb-4">Landing Page</h6>

      <ul class="flex flex-col space-y-1">
        <li>
          <a
            [routerLink]="['/landing']"
            class="text-gray-300 hover:text-gray-500 text-xs uppercase py-3 font-bold block"
          >
            <i class="fas fa-newspaper text-sm mr-2 text-gray-500"></i>
            Landing Page
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
